@model Japanese.Models.VOCABULARY

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VOCABULARY</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vocabulary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vocabulary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kanji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kanji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chinese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chinese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modify_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modify_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
